[tool.poetry]
name = "pyproxy"
version = "0.1.0"
description = "A fast way to create proxies"
authors = ["Riccardo Isola <riky.isola@gmail.com>"]

[tool.poetry.dependencies]
python = "^3.10"

[tool.poetry.dev-dependencies]
pytest = "^7.1.2"
pytest-asyncio = "^0.18.3"
requests = "^2.28.0"
pytest-timeout = "^2.1.0"
aiohttp = "^3.8.1"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.pytest.ini_options]
asyncio_mode = "auto"
timeout = 5